@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.carousel .thumbs-wrapper {
  margin: 0px !important;
}

.gradient-text {
  background: linear-gradient(to top right, #FB17FC, #49FCE1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}